// https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .icon {
        position: relative;
        width: 20rem;
        height: 20rem;
        img {
            border-radius: 50%;
        }
    }

    h2 {
        font-size: 3rem;
        font-weight: 800;
    }

    .name {
        background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        animation: rainbow_animation 6s ease-in-out infinite;
        background-size: 400% 100%;
    }
}

.servers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 30rem));
    place-content: center;

    .serverPreview {
        h1, h2, h3 {
            margin: 5px;
        }

        color: white;
        border-radius: 15px;
        box-shadow: var(--shdw1);
        background-color: rgb(var(--fg));
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:hover {
            color: rgb(var(--link-hover));
        }
    }
}